<section
    class="landing-section h-screen w-screen text-center overflow-hidden relative"
    data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-4xl font-medium">
                Disfrute de Tesla
            </h2>
            <p class="text-white text-sm">
                Programe una prueba de conducción hoy mismo
            </p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <a
                    class="border-2 border-white rounded bg-white/5 backdrop-blur-2xl text-white text-sm py-2 px-12 hover:bg-white hover:text-black transition-colors"
                    href="#">Prueba de conducción</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video class="" autoplay muted loop src="/background-video.webm"
        ></video>
    </div>
</section>
